body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}
.container {
  max-width: 100%;
  margin: 10px;
  padding: 15px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #1e40af;
  margin: 10px 0 15px;
  font-size: 24px;
}
h2 {
  color: #1e40af;
  font-size: 19px;
  margin: 20px 0 10px;
}
input,
select,
textarea,
button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
button {
  width: 50%;
  background: #1e40af;
  color: white;
  border: none;
  font-weight: bold;
  padding: 16px;
  margin: 15px 0;
  font-size: 18px;
  align-items: ;
}
.btn-green {
  background: #16a34a;
}
.btn-red {
  background: #dc2626;
}
.btn-cyan {
  background: #0d9488;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 14px;
}
th,
td {
  border: 1px solid #999;
  padding: 10px;
  text-align: left;
}
th {
  background: #1e40af;
  color: white;
}
.work-item {
  background: #f3f4f6;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  font-size: 14px;
}
.footer {
  text-align: center;
  padding: 20px;
  background: #1e40af;
  color: white;
  margin-top: 30px;
  border-radius: 0 0 12px 12px;
}
